<div class="d-flex flex-column min-vh-100">
    <app-main-header></app-main-header>

    <section class="container py-5 my-auto">
        <div class="row justify-content-center mb-5">
            <div class="col-12 col-md-8 col-lg-6 col-xxl-4">
                <div class="bg-white rounded-3">
                    <div class="text-center border-bottom p-4">
                        <h2 class="text-secondary"><b>Opções</b></h2>
                    </div>
                    <div class="d-flex flex-column gap-2 py-3">
                        <a [routerLink]="['/request-insert']" class="btn btn-link btn-lg">Lançar Solicitação de Serviço</a>
                        <a [routerLink]="['/request-list']" class="btn btn-link btn-lg">Listar solicitações</a>
                        <a [routerLink]="['/realease']" class="btn btn-link btn-lg">Liberação de Acesso ao Sistema</a>
                        <a (click)="logout()" class="btn btn-link btn-lg" role="button">Sair do sistema</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <app-main-footer></app-main-footer>
</div>