@import "variables";
@import "reset";
@import "bootstrap";
@import 'ngx-toastr/toastr';
@import "table";
@import "typography";

:root {
    --color-primary: #{$main-yellow};
    --color-secondary: #{$main-blue};
    --color-dark: #{$dark};
    --color-gray-light: #{$gray-light};
    --color-light: #{$light};
}

body {
    background-color: var(--color-secondary);
    font-size: 100%;
}

.logo {
    max-width: 145px;
    height: auto;
}

.btn-link {
    font-weight: 700;
    text-decoration: none;
}