<div
  class="upload-area p-3 rounded text-center"
  (dragover)="onDragOver($event)"
  (dragleave)="onDragLeave($event)"
  (drop)="onDrop($event)"
  [class.dragging]="isDragging"
  (click)="fileInput.click()"
>
  <i class="fa-regular fa-note-sticky fs-2"></i>
  <h6 *ngIf="!selectedFile">
    {{ label }}
  </h6>
  <p *ngIf="selectedFile">
    Arquivo selecionado: <strong>{{ selectedFile.name }}</strong>
  </p>

  <small *ngIf="!selectedFile">Clique ou arraste um arquivo</small>

  <input type="file" (change)="onFileSelected($event)" #fileInput hidden />
</div>
