<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solicitação de Serviços</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/solicitacoes.css')}}">
</head>

<body>
 <img src="/static/images/Logo.png" alt=""/><br>
 {% set mensagens = get_flashed_messages() %}
    {% if mensagens %}
        <div>
            <ul align="center">
            {% for msg in mensagens %}
                {{msg}}
            {% endfor %}
            </ul>
        </div>
    {% endif %}
    <div class="page">
        <form  class="formSolicitacao">
            <fieldset>
                <legend>Sua chave de liberação</legend>
                <label for="chave">Chave de liberação, copie e cole no sistema</label><br>
                <input type="text" name="chave" id="chave" value={{chave_retorno}} readonly><br><br>
                <a href="/" align="center">Voltar para o menu</a>
            </fieldset>
        <br> <label align="center">Cliente:{{idCli}}-{{nome_cliente}}</label>
        </form>
    </div>
 <script>
    </script>
</body>
</html>

